<!DOCTYPE html>
<head>
<title>Qualtrics Email | Schedule</title>
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<link rel="shortcut icon" href="/static/images/favicon.ico" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
	{% if admin == 1 %}
		<a href="{{ url_access }}">{{ url_access_text }}</a> |
		<a href="{{ url_schedule }}">{{ url_schedule_text }}</a> |
		<a href="{{ url_settings }}">{{ url_settings_text }}</a> |
		<a href="{{ url_followups }}">{{ url_followups_text }}</a> |
	{% endif %}
	<a href="{{ url }}">{{ url_linktext }}</a><br>
	<h1>Qualtrics Email</h1>
	<h2>Admin UI - Add email schedule</h2>

  <table cellpadding="5">
  {% if schedule_query.count() > 1 %}
				<tr>
			      <td colspan="5" class="errors">You have more than one set of schedule information.</td>			    
			    </tr>
			    <tr>
			    <td colspan="5" class="errors">To avoid any errors or unexpected behavior, use only one. </td>			  
			    </tr>
			{% endif %}

  {% if schedule_query.count() > 0 %}
    <tr>
    	  <th>Key id</th>
    	  <th>Time zone</th>
      <th>Start date</th>
      <th>Stop date</th>
      <th>Follow-ups</th>
      <th>Interval days</th>
    <tr>
    {% for schedule in schedule_query %}
      
    <tr>
    	  <td><a href="/editschedule?id={{ schedule.key().id() }}">{{ schedule.key().id() }}</a></td>
    	  <td> {{ schedule.time_zone }} </td>
      <td> {{ schedule.start_date }} </td>
      <td> {{ schedule.stop_date }} </td>
      <td> {{ schedule.follow_up_num }} </td>
      <td> {{ schedule.interval }} </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="5">No schedule information exists</td>
    </tr>
    {% endif %}
    
  </table>
  
<br>
<hr>
<form action="/addschedule" method="post">
  <table>
    <tbody>
    <tr>
        <td> <strong>Time zone:</strong></td>
        <td>
        		<select name="time_zone">
  				<option name="time_zone" value="Eastern">Eastern</option>
  				<option name="time_zone" value="Central">Central</option>
  				<option name="time_zone" value="Mountain">Mountain</option>
  				<option name="time_zone" value="Pacific">Pacific</option>
			</select>
        </td>    
      </tr>
      <tr>
        <td> <strong>Start datetime:</strong></td>
        <td><input type="text" size="30" name="start_date" placeholder="2013-02-08 16:39:00"></td>    
      </tr>
      <tr>
        <td> <strong>Stop datetime:</strong></td>
        <td><input type="text" size="30" name="stop_date" placeholder="2013-02-11 16:39:00"></td>        
      </tr>
      <tr>
        <td> <strong>Number of follow-ups:</strong></td>
        <td><input type="number" size="50" name="follow_up_num"  min="0" max="365"></td>        
      </tr>
      <tr>
        <td> <strong>Days between follow-ups:</strong></td>
        <td><input type="number" size="50" name="interval" min="0" max="365"></td>
      </tr>
    </tbody>
  </table>
  <br />
  <div>
    <input type="submit" value="Add">
  </div>
</form>






</body>
</html>