{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block head %}{% endblock head %}
{% block nav %}
	{% if admin == 1 %}
		<li><a href="{{ url_access }}" title="{{ url_access_text }}">{{ url_access_text }}</a></li>
		<li><a href="{{ url_schedule }}" title="{{ url_schedule_text }}">{{ url_schedule_text }}</a></li>					
		<li><a href="{{ url_settings }}" title="{{ url_settings_text }}">{{ url_settings_text }}</a></li>
		<li><a href="{{ url_followups }}" title="{{ url_followups_text }}">{{ url_followups_text }}</a></li>
		<li><a href="{{ url_sendemail }}" title="{{ url_sendemail_text }}">{{ url_sendemail_text }}</a></li>
		{% if download == 1 %}
			<li><a href="{{ url_download }}" title="{{ url_download_text }}">{{ url_download_text }}</a></li>
		{% endif %}
		<li><a href="{{ urla }}" title="{{ url_admin }}" target="_blank">{{ url_admin }}</a></li>
	{% endif %}
	<li><a href="{{ url }}" title="{{ url_linktext }}">{{ url_linktext }}</a></li>
{% endblock nav %}
{% block container %}
	<div class="row">
		<div class="col-sm-12 col-md-12 main">
			{% block pageheaders %}
				<h1 class="page-header">Admin</h1>
				<h3 class="sub-header">Index</h3>
			{% endblock pageheaders %}
			{% block alerts %}
				{% if admin !=1 %}
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<strong>You currently do not have administrative access.</strong> In order to access all the options, you will need to request more privileges.
					</div>
				{% endif %}
			{% endblock alerts %}
		</div>
	</div>
{% endblock container %}
